<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/signin">
        <mat-icon>input</mat-icon>
        <span>Sign In</span>
    </a>
    <a mat-list-item routerLink="/signup">
        <mat-icon>account_circle</mat-icon>
        <span>Sign Up</span>
    </a>
    <a mat-list-item routerLink="/signin">
        <mat-icon>input</mat-icon>
        <span>Sign In</span>
    </a>
    <a mat-list-item routerLink="/accommodation">
        <mat-icon>hotel</mat-icon>
        <span>Accommodation</span>
    </a>
    <a mat-list-item routerLink="/offers">
        <mat-icon>loyalty</mat-icon>
        <span>Offers</span>
    </a>
    <a mat-list-item routerLink="/signin">
        <mat-icon>input</mat-icon>
        <span>Sign In</span>
    </a>
</mat-nav-list>
