<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleOpenSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        Logo
    </div>
</mat-toolbar>
