<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav-list></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (SideNavigationToggle)="sidenav.toggle()"></app-header>
        <app-navtabs></app-navtabs>
    </mat-sidenav-content>
    <router-outlet></router-outlet>
</mat-sidenav-container>
